body {
  background: #f5f5f5;
}

.header {
  height: 60px;
  background: skyblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.translate-container {
  display: flex;
  margin: 20px;
  margin-top: 80px;
}

.compile-container {
  border: 1px solid #ddd;
}

.conpiled-container {
  margin-left: 80px;
  border: 1px solid #ddd;
}

.compile {
  width: calc((100vw - 140px) / 2);
  height: calc(100vh - 60px - 60px - 120px);
  padding: 20px;
  box-sizing: border-box;
}

.translate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: skyblue;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  height: 30px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
}

.compile-title {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  height: 62px;
  box-sizing: border-box;
  background: #f3f3f3;
}

.compiled {
  width: calc((100vw - 140px) / 2);
  height: calc(100vh - 60px - 60px - 120px);
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  background: #fff;
}

.compiled-title {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  height: 62px;
  box-sizing: border-box;
  background: #f3f3f3;
}

.footer {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  height: 60px;
  background: skyblue;
}

@media screen and (max-width: 1200px) {
  .footer {
    position: relative;
    width: 100vw;
    left: auto;
    bottom: auto;
    height: 60px;
    background: skyblue;
  }

  .translate-container {
    flex-direction: column;
  }

  .compiled {
    width: calc(100vw - 50px);
    height: calc(100vh - 60px - 60px - 120px);
  }

  .compile {
    width: calc(100vw - 50px);
    height: calc(100vh - 60px - 60px - 120px);
  }

  .conpiled-container{
    margin: 0;
    margin-top: 30px;
  }
}
